.properties-container {
  display: flex;
  padding-top: 100px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  background-color: #f0f0f0; /* Set your desired background color */
}

.input-group {
  display: flex;
  padding: 8px;
}

.input-group div {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.input-group label {
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.property-list {
  width: 70%;
}

.lol {
  width: 30px;
  height: 30px;
  /* border: 2px solid rgb(255, 62, 62); */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.circle {
  /* width: 30px;
  height: 30px;
  border-radius: 50%; */
  /* background-color: greenyellow; */
  font-size: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  -webkit-animation: circle 5s linear infinite;
  animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
